html{font-size: 14px;}
html,body,#app,.page{
	height: 100%;
  overflow: hidden;
}
.weui-search-bar{
	background-color: rgba(0,0,0,0)!important;
	padding: 0.6rem 1rem!important;

}
.weui-search-bar:after{
	border-bottom: none!important;
}
.weui-search-bar__form{
	background-color: #fff;
	border-radius: 8px;
	opacity: 0.5
}
.wordBreak{
  word-wrap:break-word;
}
.right{
    float: right;
}
.redFont{
    color: #FA5B5B;
  }
.gray9Font{
    color: #999999;
}
.blueFont{
    color: #576AA3;
}
.font14{
    font-size: 28/40rem;
}
.alignC{
    text-align: center;
}
.alignR{
    text-align: right;
}
button{
  outline:none;
}
i{
  font-style:normal;
}
.BlueBtn{
      background-color: #38446A!important;
      color: #fff!important;
      width: 100%;
      border-radius: 5px;
      border:none;
    }
.WhiteBtn{
	  background-color: #FFF!important;
	  color: #38446A!important;
	  width: 100%;
	  border-radius: 5px;
	  border:none;
}
.sectionBox{
	background-color: #fff;
	border-radius: 5px;
	padding: 15/14rem;
}
.line{
  border-bottom: 1px solid #e2e2e2;
}
.radius{
  border-radius: 15/40rem;
}
.radius .vux-no-group-title{
  border-radius: 15/40rem;
}
.weui-dialog__btn_primary{
    color:#3F4B6F!important;
  }
.ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -ms-line-clamp: 1;
    -moz-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    -ms-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    display: -webkit-box;
    display: -ms-box;
    display: -moz-box;
    display: box;
    white-space:nowrap;
    }  
/*空白页样式*/    
.noNet{
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 99;
  top:0;
  background-color: #fff;
}    
/*首页*/
.publisBottomFlex{
	display: inline-block;
	width: 100%;
	height: 100%;
}
/*封号弹框*/
.dialogUnBox{
  font-size: 30/40rem;
  padding: 30/40rem;
}
.dialogSureBtn{
  margin: 1rem;
  padding: 10/40rem 0!important;
  width: 85%!important;
  background-color: #38446A!important;
  color: #fff!important;
  font-size: 30/40rem;
}
.dialogUnBox .weui-dialog{
  padding:1rem 1rem 20/40rem 1rem;
  border-radius: 10/40rem;
  width: 75%;
}
.listConfirm .weui-dialog__bd{
    min-height: 0!important;
  }
/*发布*/
.locateAdress .weui-cell_access .weui-cell__ft:after{
	border-color: rgba(0,0,0,0)!important;
}
.weui-cells:after{
	border-bottom: none!important;
}
.locateAdress .vux-cell-box:before,.loginPage .weui-cell:before{
	border-top: none!important;
}
.publishMain .weui-cell_access .weui-cell__ft{
	width: 70%;
	text-align: left;
	color: #222;
}
.accountPage .weui-cell_access .weui-cell__ft{
	padding-right: 0!important
}
.accountPage .weui-cell_access .weui-cell__ft:after{
	display: none!important
}
.saleMain .weui-label{
	width: 5.5rem!important
}
.weui-cell:before{
	right: 15px!important;
}
.saleMain .weui-cell_access .weui-cell__ft{
	text-align: left!important;
  color: inherit;
}
/*个人*/
.personBox .weui-cells{
	border-radius: 5px;
}
.cellMrg .weui-cells:before{
	left: 15px!important;
	right: 15px!important;
}

.font-one-line-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

.font-two-line-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.vux-1px-b:after{
  border-bottom: 1px solid #e0e0e0;
}
.dp-header .dp-item{
  &.dp-left,&.dp-right{
    color: #343434 !important;
  }
}
.vux-popup-picker-header-menu-right{
  color: #343434 !important;
}

/*登录*/
.loginMain .weui-cells:before{
    border-top: none;
}
.loginMain .weui-btn_default{
    background-color: #fff!important;
}
.loginByWx .weui-btn:after{
    border: none!important
}

/*发布*/
.commonbtn-wrap{
  padding: 0 12/40rem 30/40rem 12/40rem;
  margin-top: 60/40rem;
  .commonbtn{
    line-height: 94/40rem;
    font-size: 36/40rem;
    width: 100%;
  }
  &.pd30{
    padding: 0 30/40rem 30/40rem 30/40rem;
  }
  .weui-btn:after{
    border: none;
  }
  .weui-btn_default{
    background-color: #38446a;
    color: #fff;
    font-size: 34/40rem;
    &:active{
      background-color: #38446a !important;
      color: #f1f1f1 !important;
    }
  }
}

@media screen and (max-width:750px)
{
    html{
        font-size: 675/750*40px;
    }
}
@media screen and (max-width:675px)
{

    html{
        font-size:675/750*40px;
    }
}
@media screen and (max-width:650px)
{

    html{
        font-size:650/750*40px;
    }
}
@media screen and (max-width:625px)
{

    html{
        font-size:625/750*40px;
    }
}
@media screen and (max-width:600px)
{
    html{
        font-size:600/750*40px;
    }
}
@media screen and (max-width:575px)
{
    html{
        font-size:575/750*40px;
    }
}
@media screen and (max-width:550px)
{
    html{
        font-size:550/750*40px;
    }
}
@media screen and (max-width:525px)
{
    html{
        font-size:525/750*40px;
    }
}
@media screen and (max-width:500px)
{
    html{
        font-size:500/750*40px;
    }
}
@media screen and (max-width:475px)
{
    html{
        font-size:475/750*40px;
    }
}
@media screen and (max-width:450px)
{
    html{
        font-size:450/750*40px;
    }
}
@media screen and (max-width:425px)
{
    html{
        font-size:425/750*40px;
    }
}
@media screen and (max-width:400px)
{
    html{
        font-size:400/750*40px;
    }
}
@media screen and (max-width:375px)
{
    html{
        font-size:375/750*40px;
    }
}
@media screen and (max-width:350px)
{
    html{
        font-size:350/750*40px;
    }
}
@media screen and (max-width:325px)
{
    html{
        font-size:325/750*40px;
    }
}
@media screen and (max-width:300px)
{
    html{
        font-size:300/750*40px;
    }
}